//==============================================================================
// Basic site elements and helper classes
//==============================================================================

// http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
    font: normal 100% $font-larsseit-reg; //100% is roughly equivalent to 16px
    box-sizing: border-box;
}

// http://www.paulirish.com/2012/box-sizing-border-box-ftw
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    text-rendering: optimizeLegibility;
}

a {
    color: #111;
    text-underline-offset: 2px;
    text-decoration: none;
}

img {
    height: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}


//==============================================================================
// Responsive Images
//==============================================================================
img {
    max-width: 100%;
}