//==============================================================================
// All buttons, all the time
//==============================================================================

//==============================================================================
// Basic button building block
//==============================================================================

%button {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: auto;
    @include font-size(16,16);
    height: pxem(40);
    padding: 0 pxem(40);

    @include respond-to($mq-desktop-min) {
        padding: 0 pxem(80);
        margin: 0 0 pxem(10,16) 0;
        height: pxem(50);
    }
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}