//==============================================================================
// Tales of Typographic Styles
//==============================================================================


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: $weight-bold;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.03em;

    @include respond-to($mq-tablet-min) {
        font-size: 36px;
        line-height: 125%;
        letter-spacing: -0.015em;
    }
}

p {
    @include paragraph();
}

.button {
    font-weight: $weight-bold;
    font-size: 16px;
    line-height: 150%;
}


.label-large-strong {
    font-weight: $weight-bold;
    font-size: 18px;
    line-height: 150%;

    @include respond-to($mq-tablet-min) {
        line-height: 120%;
    }
}


.label-small {
    font-weight: $weight-regular;
    font-size: 14px;
    line-height: 130%;

    @include respond-to($mq-tablet-min) {
        line-height: 150%;
    }
}