$font-family: 'Larsseit Alt';
$font-stack: $font-family, Arial, sans-serif;

$weight-regular: 400;
$weight-medium: 600;
$weight-bold: 700;

@mixin paragraph($size: 'default') {
    @if $size == 'extra-large' {
        font-size: 20px;
        line-height: 175%;
        font-weight: $weight-regular;
        letter-spacing: initial;

        @include respond-to($mq-tablet-min) {
            font-size: 20px;
            line-height: 175%;
            font-weight: $weight-regular;
            letter-spacing: initial;
        }
    } @else if $size == 'large' {
        font-size: 18px;
        line-height: 155%;
        font-weight: $weight-regular;
        letter-spacing: initial;
    } @else if $size == 'small' {
        font-size: 14px;
        line-height: 160%;
        font-weight: $weight-regular;
        letter-spacing: initial;

        @include respond-to($mq-tablet-min) {
            font-size: 14px;
            line-height: 160%;
            letter-spacing: initial;
        }
    } @else {
        font-weight: $weight-regular;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: initial;

        @include respond-to($mq-tablet-min) {
            font-size: 16px;
            line-height: 150%;
        }
    }
}