body.-clorox-search-is-cropped {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

#clorox-search-overlay {
    @import 'variables';
    @import 'media-queries';

    background: $color-white;
    bottom: 0;
    display: none;
    font-family: $font-stack;
    left: 0;
    line-height: 1.2;
    overflow-y: auto;
    overscroll-behavior: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1100; // on top of global menu

    * {
        margin: 0;
        padding: 0;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    p {
        font-size: 16px;
    }

    .search-container {
        margin: 0 auto;
        max-width: 1128px;
        padding: 8px 24px 80px 24px;

        @include respond-to($mq-tablet-min) {
            padding: 16px 40px 80px 40px;
        }

        @include respond-to($mq-desktop-min) {
            padding-top: 40px;
        }
    }

    .search-controls {
        margin: 0 auto;
        max-width: 540px;
    }

    .search-fields {
        display: flex;
        margin-bottom: 16px;
        position: relative;
    }

    .search-input {
        appearance: none;
        border-radius: 4px;
        border: 1px solid $borders-slate-400;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        height: 48px;
        outline: 0;
        padding: 0 16px;
        transition-duration: 0.15s;
        transition-property: border-color, box-shadow;
		width: 100%;

        &::placeholder {
            color: $color-slate-600;
        }

        &:hover {
            border-color: $color-slate-500;
        }

        &:focus {
            border-color: $color-blue-700;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0);
        }
    }

    .search-icon {
        pointer-events: none;
        position: absolute;
        right: 48px;
        top: 12px;

        @include respond-to($mq-tablet-min) {
            right: 76px;
        }
    }

    .search-close {
        flex-shrink: 0;
        height: 48px;
        margin-right: -12px;
        padding: 12px;
        width: 48px;

        @include respond-to($mq-tablet-min) {
            margin-left: 16px;
            margin-right: 0;
        }

        path {
            fill: $color-blue-600;
            transition: fill 0.15s;
        }

        &:hover {
            path {
                fill: $color-blue-500;
            }
        }

        &:active {
            path {
                fill: $color-blue-700;
            }
        }
    }

    .search-tabs {
        display: flex;
        margin-bottom: 32px;

        @include respond-to($mq-tablet-min) {
            margin-bottom: 40px;
        }

        &__item {
            margin-right: 16px;
            font-size: 16px;
            line-height: 1.45;
            font-weight: $weight-bold;
            color: $color-slate-600;

            &.active .search-tabs__anchor {
                border-color: $color-blue-600;
                color: $color-blue-600;
            }

            @include respond-to($mq-tablet-min) {
                margin-right: 24px;
            }
        }

        &__anchor {
            border-bottom: 2px solid $color-white;
            color: $color-slate-600;
            display: inline-flex;
            padding-bottom: 2px;
            transition: border-color, color;
            transition-duration: 0.15s;

            &:hover {
                border-color: $color-blue-600;
                color: $color-blue-600;
            }

            &:active {
                border-color: $color-blue-700;
                color: $color-blue-700;
            }
        }

        &__count {
            padding-left: 6px;
        }
    }

    .search-label {
        font-size: 18px;
        font-weight: $weight-bold;
        line-height: 1.2;
    }

    .search-heading {
        color: $color-slate-600;
        font-size: 18px;
        font-weight: $weight-bold;
        line-height: 1.2;
        margin-bottom: 32px;

        @include respond-to($mq-desktop-min) {
            margin-bottom: 40px;
        }
    }

    .search-button {
        align-items: center;
        background: $color-blue-600;
        border-radius: 4px;
        color: $color-white;
        cursor: pointer;
        display: inline-flex;
        font-weight: $weight-bold;
        height: 48px;
        padding: 0 24px;
        transition: background-color, border-color, color;
        transition-duration: 0.15s;
        user-select: none;

        &:hover {
            background: $color-blue-500;
        }

        &:focus {
            outline: none;
        }

        &:active {
            background: $color-blue-700;
        }

        &.-bordered {
            background: #FFF;
            border: 2px solid $color-blue-600;
            color: $color-blue-600;

            &:hover {
                border-color: $color-blue-500;
                color: $color-blue-500;
            }

            &:active {
                border-color: $color-blue-700;
                color: $color-blue-700;
            }
        }
    }

    .search-results + .search-results {
        border-top: 1px solid $borders-slate-400;
        margin-top: 40px;
        padding-top: 40px;
    }

    .search-grid {
        display: grid;
        grid-gap: 16px 32px;
        grid-template-columns: 1fr;

        &__anchor {
            display: flex;
            color: $color-slate-800;
            max-width: 400px;
            transition: color 0.15s;

            &:hover {
                color: $color-blue-600;
            }

            &:active {
                color: $color-blue-700;
            }
        }

        &__image {
            align-items: center;
            background: $color-slate-100;
            display: inline-flex;
            flex-shrink: 0;
            height: 88px;
            justify-content: center;
            margin-right: 16px;
            width: 88px;

            > img {
                max-height: 100%;
            }
        }

        @include respond-to(720px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond-to(1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .search-more {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .search-products {
        &__brand {
            display: block;
            font-size: 14px;
            line-height: 1.45;
            margin-bottom: 2px;
        }

        .search-grid__image {
            padding: 12px;
        }
    }

    .search-faq {
        margin-top: -16px;

        &__item {
            max-width: 672px;

            &:not(:first-child) {
                border-top: 1px solid $borders-slate-400;
            }

            &.active {
                .search-faq {
                    &__icon {
                        transform: rotate(180deg);
                    }

                    &__answer {
                        height: auto;
                    }
                }
            }
        }

        &__question {
            color: $color-slate-800;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            padding: 16px 0;
            text-align: left;
            transition: color 0.15s;
            width: 100%;

            &:focus {
                outline: none;
            }

            @include respond-to($mq-desktop-min) {
                &:hover {
                    color: $color-blue-500;
                }

                &:active {
                    color: $color-blue-700;
                }
            }
        }

        &__icon {
            margin-left: 24px;
        }

        &__answer {
            color: $color-slate-800;
            height: 0;
            overflow: hidden;

            p {
                line-height: 1.5;
                margin-bottom: 32px;
            }

            a {
                text-decoration: underline;
            }
        }
    }

    .search-links {
        &__item {
            max-width: 672px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &__anchor {
            display: inline-flex;
            transition: color 0.15s;
        }

        &__arrow {
            height: 24px;
            margin-left: 6px;
            width: 24px;
        }
    }

    .search-fallback {
        max-width: 264px;
        margin: 0 auto;
        padding: 32px 32px 0 32px;
        text-align: center;

        &__icon {
            display: inline-block;
            margin-bottom: 16px;
        }

        &__heading {
            color: $color-slate-800;
            font-size: 24px;
            font-weight: $weight-bold;
            line-height: 1.25;
            margin-bottom: 8px;
        }

        &__message {
            color: $color-slate-600;
            line-height: 1.45;
            margin-bottom: 32px;
        }
    }
}