// Fonts
$font-family: 'Larsseit Alt';
$font-stack: $font-family, Arial, sans-serif;

$weight-regular: 400;
$weight-medium: 600;
$weight-bold: 700;

// Colors
$color-black: #000000;
$color-white: #fff;

$color-slate-800: #282828;
$color-slate-700: #555;
$color-slate-600: #666;
$color-slate-500: #999;
$color-slate-400: #DDD;
$color-slate-300: #EEE;
$color-slate-200: #F4F4F4;
$color-slate-100: #F8F8F9;

$color-blue-700: #003185;
$color-blue-600: #003DA5;
$color-blue-500: #0049C6;
$color-blue-400: #3063BB;
$color-blue-300: #7D9DD2;
$color-blue-200: #BBCEEF;
$color-blue-100: #E2EDFF;

$borders-slate-400: #E5E7E9;